:root{
    --dark:#374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
}
*{
    box-sizing: border-box;
    /* background: var(--dark); */
}
body{
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    background: var(--dark);
    color: var(--light);
}
header{
    padding: 1rem 2rem;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    /* color: var(--gray); */
}
header h1{
    /* padding: 4rem 2rem; */
    /* margin:0 auto; */
    font-size: 3rem;
    max-width: 800px;

    /* width: 100%; */
    color: var(--gray);
    margin-bottom: 1.5rem;
}
input,button {
    border:none;
    appearance: none;
    outline: none;
    background: none;
    height: auto;
}
#task-input{
    width: 50vw;
    background-color: var(--darker);
    flex: 1 1 2%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    color: var(--light);
    font-size: 1rem;
}
#task-input::placeholder{
    color: var(--gray);
}
#task-submit{
    color: var(--pink);
    font-size: 1rem;
    font-weight: 700;
    background-image: linear-gradient(to right,var(--pink),var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#task-submit:hover,.task-input-1 > .action > .delete:hover,.task-input-1 > .action > .edit:hover{
    opacity: 0.8;
}
#task-submit:active,.task-input-1 > .action > .delete:active,.task-input-1 > .action > .delete:active{
    opacity: 0.5;
}
#task{
    padding: 1rem 3rem;
    margin:0 auto;
    max-width: 800px;
    width: 100%;
}

main h3{
    color: var(--gray);
}
div.task-input-1{
    /* width: 50vw; */
    display: flex;
    border-radius: 1rem;
    justify-content: space-between  ;
    flex: 1 1 1%;
    padding: 0.8rem;
    margin: 1rem 0rem;
    background-color:var(--darkest);
    /* padding: 2rem; */
}
.task-input-1 > .action > .delete{
    color: crimson;
}
.task-input-1 > .action > .edit{
    color: var(--pink);
    font-weight: 550;
    background-image: linear-gradient(to right,var(--pink),var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
}